.others {
	&__list {
		margin-bottom: 3.5em;
		padding-bottom: 3.5em;
		border-bottom: 2px solid $border-color;
	}

	&__item:not(:last-of-type) {
		margin-bottom: 2em;
		border-bottom: 1px solid $border-color;
	}
}