.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 360px;
	height: 100%;
	margin-left: -290px;
	
	z-index: 1000;

	transition: 0.3s;

	@media (min-width: $desktop) {
		position: absolute;
		bottom: 0;
	}

	&.active {
		margin-left: 0;
	}
	
	&__wrap {
		width: 290px;
		height: 100%;
		padding: 20px;
		font-size: 0.9em;

		background-color: $sidebar-bg;
		box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
		overflow: scroll;

		@media (min-width: $desktop) {
			position: sticky;
			top: 0;
			height: auto;
			overflow: visible;
		}
	}

	&__search {
		background-color: $search-bg;
		height: 82px;
		margin: -20px -20px 40px -20px;
	}

	&__toggle {
		float: right;

		display: block;
		width: 70px;
		height: 82px;
		padding: 12px;
	
		z-index: 1000;

		background: url(/img/bars-solid.svg) center no-repeat;
		background-size: 35%;

		@media (max-width: $tablet-portrait) {
			width: 60px;
			height: 50px;
			margin-left: 10px;
			margin-top: 12px;

			background-color: rgba(222, 225, 226, 0.75);
			background-image: url(/img/bars-solid-grey.svg);
			background-size: 25%;
			border-radius: 0.375em;
		}
	}
}