@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('OpenSans-Regular.woff2') format('woff2'),
		url('OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('OpenSans-SemiBold.woff2') format('woff2'),
		url('OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('OpenSans-SemiBoldItalic.woff2') format('woff2'),
		url('OpenSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('OpenSans-Italic.woff2') format('woff2'),
		url('OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Slab';
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
		url('RobotoSlab-Bold.woff2') format('woff2'),
		url('RobotoSlab-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Slab';
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
		url('RobotoSlab-Regular.woff2') format('woff2'),
		url('RobotoSlab-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

