* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-width: 360px;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

body, input, select, textarea {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.6;
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;

  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  line-height: 1.5;
  color: $heading-color;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  margin: 0 0 2em 0;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: $main-red;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $desktop) {
  body, input, select, textarea {
    font-size: 15px;
  }
}
@media (min-width: $extra-large) {
  body, input, select, textarea {
    font-size: 17px;
  }
  h2 {
    font-size: 1.75em;
  }
}
