$main-red: #f56a6a;
$text-color: #7f888f;
$heading-color: #3d4449;
$border-color: rgba(210, 215, 217, 0.75);
$sidebar-bg: #f5f6f7;
$search-bg: #eff1f2;

$phonblet: 480px;
$tablet-portrait: 735px;
$tablet: 979px;
$desktop: 1279px;
$extra-large: 1679px;

$myvar: "calc(100% + 60px)";
$myvarc: "calc(100% + 100px)";